PORT=3001

# Admin Key (mock authentication - Level 2)
ADMIN_KEY=secret123

TURSO_CONNECTION_URL=
TURSO_AUTH_TOKEN=
# JWT Secret (untuk sign/verify token)
JWT_SECRET=MezcrDGh6KSLRUfFe7yd1WTFtr7GrI0aWiyN4FkZrWo

# CORS
CORS_ORIGIN=http://localhost:3001
