PORT=3001

# Admin Key (mock authentication - Level 2)
ADMIN_KEY=

TURSO_CONNECTION_URL=
TURSO_AUTH_TOKEN=
# JWT Secret (untuk sign/verify token)
JWT_SECRET=

# CORS
CORS_ORIGIN=http://localhost:3001
